
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>


<mat-card class="example-card">
    <mat-card-header>
      
    
      <h2>WATCH ME BUILD IT!</h2>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tech Stack:
            </mat-panel-title>
            <mat-panel-description>
              Angular/Typescript
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This website was created using AngularJS and Typescript/Javascript and CSS.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dev Bio:
            </mat-panel-title>
            <mat-panel-description>
              Learn About the Developer
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Geno Grand is a Self-Taught Software Engineer with experience buiding web & mobile applications of in many different industries for clients of a variety of scales.</p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </mat-card-header>
    <mat-card-content>
        <div style="position: relative; padding-bottom: 87.37864077669903%; height: 0;"><iframe src="https://www.loom.com/embed/e778cbc9734b4d938039ec1ffcac93c1?sid=763b0662-97dd-4fd5-9d99-b771148f1396" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </mat-card-content>
  </mat-card>

  <h2>Leave a Comment</h2>
  
  